<head>
<style>
body
{background-color: rgb(0,104,255);}
h1,h2,p
{
text-align:center;
color:white;
}
  </style>

 </head>
  <body>
  <H1 Style="Font: 18px Verdana; font-weight:bold;">Site Map

  <br>
<%= link_to('Welcome!', welcome_page_path) %><br>
<%= link_to('Gallery', gallery_page_path) %><br>
<%= link_to('AboutMe', aboutme_page_path) %><br>
<%= link_to('News', news_page_path) %><br>
<%= link_to('Resume', resume_page_path) %><br>
  </body>